# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# --- FIREBASE SENSITIVE FILES ---
# Android
android/app/google-services.json

# iOS
ios/Runner/GoogleService-Info.plist

# macOS
macos/Runner/GoogleService-Info.plist

# Web
# Nếu bạn copy cấu hình vào index.html thì không ignore được,
# nhưng nếu dùng flutterfire configure thì nó nằm trong file dưới đây:
lib/firebase_options.dart

# Firebase CLI logs & config
firebase-debug.log
.firebaserc

# Environment variables
.env*
lib/env/env.g.dart